/* Animaciones */
.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Efectos para precios */
.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #28a745 !important;
}

.price-change::after {
    font-family: 'bootstrap-icons';
    margin-left: 5px;
    font-size: 0.8em;
}

.price-up::after {
    content: "\F229";
    color: #dc3545;
}

.price-down::after {
    content: "\F229";
    color: #28a745;
    transform: rotate(180deg);
    display: inline-block;
}

.pricing-section {
    background-color: #cecece;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pricing-section-d {
    background-color: rgb(0, 0, 0);
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.lead {
    font-size: 1.25rem;
    color: #555;
}

.mb-2 {
    color: rgb(255, 255, 255);
}
.mb-2 a {
    color: rgb(255, 255, 255);
}

.text-muted {
    color: #720000 !important;
}
text-muted-footer {
    color: #ffffff !important;
}

.logo-cropped {
    width: 150px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.nav-link {
    color: #000000 !important;
    text-decoration: none;
    font-weight: 500;
}

.btn-morado {
    background-color: #000000;
    /* morado más oscuro */
    color: white;
    border: 1px solid #6c4f73;
}

.btn-morado:hover {
    background-color: #720000;
    /* aún más oscuro al hacer hover */
    color: white;
}

.btn-outline-morado {
    background-color: white;
    color: #6c4f73;
    border: 1px solid #720000;
}

.btn-outline-morado:hover {
    background-color: #720000;
    color: white;
}

.img-alta {
    height: 600px;
    object-fit: cover;
    border-radius: 0.5rem;
    
}

.body-cropped {
    width: auto;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.bg-gris  {
    background-color: #720000;
}